body{
    background-image: linear-gradient(to right top, #051937, #00344f, #004f53, #1f6749, #677a3f);
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.412);
    height: 100vh;
  }

